<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">
    <form class="p-1" [formGroup]="form">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched }"
          formControlName="primeiroNome"
          placeholder="Insira o Primeiro nome" />
          <div class="invalid-feedback">
            Primeiro Nome é obrigatório
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched }"
          formControlName="ultimoNome"
          placeholder="Insira o Último nome" />
          <div class="invalid-feedback">
            Último Nome é obrigatório
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="text"
        [ngClass]="{'is-invalid': f.email.errors && f.email.touched }"
        formControlName="email"
        placeholder="Insira o Nome Completo" />
        <div class="invalid-feedback" *ngIf="f.email.errors?.required && f.email.touched">
          E-mail é obrigatório
        </div>
        <div class="invalid-feedback" *ngIf="f.email.errors?.email && f.email.touched">
          Insira um e-mail válido
        </div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input class="form-control" type="text"
        [ngClass]="{'is-invalid': f.usuario.errors && f.usuario.touched }"
        formControlName="usuario"
        placeholder="Insira o nome de Usuário" />
        <div class="invalid-feedback">
          Usuário é obrigatório
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" type="password"
          [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched }"
          formControlName="senha"
          placeholder="Digite uma Senha" />
          <div class="invalid-feedback" *ngIf="f.senha.errors?.required && f.senha.touched">
            Senha é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.senha.errors?.minlength && f.senha.touched">
            Mínimo de 6 caracteres
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control" type="password"
          [ngClass]="{'is-invalid': f.confirmeSenha.errors && f.confirmeSenha.touched }"
          formControlName="confirmeSenha"
          placeholder="Confirme a Senha" />
          <div class="invalid-feedback"  *ngIf="f.confirmeSenha.errors?.required && f.confirmeSenha.touched">
            Confirmar Senha é obrigatório
          </div>
          <div class="invalid-feedback"  *ngIf="f.confirmeSenha.errors?.mustMatch && f.confirmeSenha.touched">
            Senhas não conferem
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input"
          [ngClass]="{'is-invalid': f.checkTermos.errors && f.checkTermos.touched }"
          formControlName="checkTermos"
          id="customCheck1">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5" [disabled]="!form.valid">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>
	</div>
</div>
