
<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro:</div>
        </div>
        <input type="text" class="form-control mr-2" placeholder="Filtrar por Tema e Local" [(ngModel)]="filtroLista">
        <!--<button class="btn btn-outline-success">Buscar</button>-->
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhes">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1 d-none d-sm-block">Novo</b>
      </a>
    </div>
  </div>
  <!--<h3>Filtro: {{filtroLista}}</h3>-->
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="d-none d-md-table-cell"><button type="button" class="btn btn-outline-light btn-sm" (click)="showHideImage()">
          <i class="{{!showImg?'fa fa-eye-slash':'fa fa-eye'}}"></i>
          {{!showImg?"Ocultar":"Mostrar"}}
        </button></th>
        <th>#</th>
        <th>Tema</th>
        <th class="d-none d-md-table-cell">Local</th>
        <th>Data</th>
        <th class="d-none d-md-table-cell">Qtd Pessoas</th>
        <th class="d-none d-md-table-cell">Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventosFiltrados" (click)="detalheEvento(evento.id)" style="cursor: pointer;">
        <td class="d-none d-md-table-cell">
          <img
            [collapse]="showImg"
            [isAnimated]="true"
            src="/assets/{{evento.imagemURL}}"
            alt=""
            [style.width.px]="widthImg"
            [style.margin.px]="marginImg"
          /> </td>
        <td>{{evento.id}}</td>
        <td>{{evento.tema}}</td>
        <td class="d-none d-md-table-cell">{{evento.local}}</td>
        <td>{{evento.dataEvento | DateFormatPipe}}</td> <!--Inlcuir no app.module.ts > declarations para ser importado-->
        <td class="d-none d-md-table-cell">{{evento.qtdPessoas}}</td>
        <td class="d-none d-md-table-cell">{{evento.lotes[0].nome | uppercase}}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm mr-2" tooltip="Excluir" (click)="openModal(template)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
      <tr>
        <td colspan="8" class="text-center">
          Nenhum evento encontrado!
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Confirma a exclusão do evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
